<% layout('./layouts/boilerplate') -%>
<body>

  <div class="container-fluid px-5">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
        <% for(let listing of allListing){ %>
          <div class="col">
            <a href="/listings/<%= listing._id%>" class="listing-link">
              <div class="card listing-card h-100">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image" style="height: 20rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= listing.title %></h5>
                  <p class="price">
                    <span> &#8377; <%= listing.price.toLocaleString("en-IN") %> /price
                    </span>
                  </p> 
                
                </div>
              </div>
            </a>
          </div>
        <% } %>
    </div>
  </div>
</body>
