<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <!-- <label for="from">
      <span>From</span>
      <input type="text" id="from">
    </label>

    <label for="to">
      <span>To</span>
      <input type="text" id="to">
    </label>

    <label for="departure">
      <input type="date"  id="departure">
    </label> -->
    <img src="/public/assets/flight-dev.png" alt="flight is under development" style="width: 100vw; height: 100vh; object-fit: cover; display: block;">
  </div>
</body>
</html>